.footer {
    background-color: #14121c;
    color: white;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-top: 4rem;
}

.items {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item h3 {
    margin: 0 0 10px 0;
}

.item p {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 0 10px 0;
}
 @media screen and (max-width: 580px){
    .footer {
        padding: 20px 20px;
        flex-direction: column;
        align-items: center;
    }
    .items {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }
    .item h3{
        font-size: 1rem;
    }
    .item p {
        font-size: 0.85rem;
    }
 }