.prestation {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 5rem auto;
}
.prestation__image{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}
.prestation__title {
  font-size: 2rem;
  margin: 1rem 0;
}

.prestation__description {
    width: 100%;
  font-size: 1rem;
  line-height: 25px;
}
@media screen and (max-width: 580px) {
  .prestation {
    width: 90%;
  }
  .prestation__image {
    height: 250px;
  }
  .prestation__title {
    font-size: 1.5rem;
  }
  .prestation__description {
    font-size: 0.9rem;
  }
}